.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row; /* flex-direction: row | row-reverse | column | column-reverse;*/
  flex-wrap: wrap;/*flex-wrap: nowrap | wrap | wrap-reverse;*/
  justify-content: space-evenly;
  /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
   align-items:center; /*stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
}

.item {
	flex-basis: 50%; /* | auto; /* default auto */
	flex-grow: 4; /* default 0 */
}
.item div:child{
	margin-bottom:10px;
}

#mapBox div:first-child{
	position: relative !important;
}
